In [14]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv(r"E:\Excel_files\uber_rides.csv")

In [4]:
# What is the shape of given dataset?

df1.shape

(200000, 8)

In [5]:
# How many integer columns(by default) are given in the dataset?
# What is the data type of ' pickup_datetime' feature in your data?


df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [6]:
# How many missing values exists in 'dropoff_longitude' column?


df1.isna().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [7]:
# Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

df1['pickup_datetime'] = pd.to_datetime(df1['pickup_datetime'])
df1

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1

In [8]:
# df1['pickup_datetime'].astype('datetime64[ns]')

In [9]:
# Which function can be used to remove null values from the dataframe?


df1.dropna(inplace = True)

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199999 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            199999 non-null  int64
 1   fare_amount        199999 non-null  float64
 2   pickup_datetime    199999 non-null  datetime64[ns, UTC]
 3   pickup_longitude   199999 non-null  float64
 4   pickup_latitude    199999 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    199999 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(2)
memory usage: 13.7 MB

In [11]:
# What is the average fare amount?
# Remove the null values from the dataframe to answer the following question.

# average = (sum)/(count)

average = df1["fare_amount"].sum()/df1["fare_amount"].count()
print(average)

11.359891549457748

In [41]:
# Calculate distance between each pickup and dropoff points using Haversine formula. 
# What is the median haversine distance between pickup and dropoff location according to the given dataset?
# Read about Haversine Distance here: https://en.wikipedia.org/wiki/Haversine_formula

def haversine(lat1, lon1, lat2, lon2):
  
    R = 6371.0

    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)

    
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad

    
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    
    distance = R * c
    return distance

In [43]:
df1['distance'] = df1.apply(lambda row: haversine(
    row['pickup_latitude'], row['pickup_longitude'],
    row['dropoff_latitude'], row['dropoff_longitude']
), axis=1)

In [70]:
df1[['distance']]

         distance
0        1.683323
1        2.457590
2        5.036377
3        1.661683
4        4.475450
...           ...
199995   0.112210
199996   1.875050
199997  12.850319
199998   3.539715
199999   5.417783

[199999 rows x 1 columns]

In [46]:
df1['distance'].median()

2.1209923961833708

In [47]:
# What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

df1['distance'].max()

16409.239135313168

In [51]:
# How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

zero_distance = df1[df1['distance'] == 0.0]
len(zero_distance)

5632

In [53]:
zero_distance = df1[df1['distance'] == 0.0]
zero_distance['fare_amount'].mean()

11.585317826704546

In [35]:
# What is the maximum 'fare_amount' for a ride?

df1["fare_amount"].max()

499.0

In [55]:
# What is the haversine distance between pickup and dropoff location for the costliest ride?
#Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

costliest_ride = df1[df1['fare_amount'] == df1['fare_amount'].max()]

pickup_lat = costliest_ride['pickup_latitude'].values[0]
pickup_lon = costliest_ride['pickup_longitude'].values[0]
dropoff_lat = costliest_ride['dropoff_latitude'].values[0]
dropoff_lon = costliest_ride['dropoff_longitude'].values[0]


def haversine(lat1, lon1, lat2, lon2):
    
    R = 6371.0

    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)

    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad

    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    
    distance = R * c
    return distance

haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)

0.0007899213191009994

In [56]:
# How many rides were recorded in the year 2014?

df1['pickup_year'] = df1['pickup_datetime'].dt.year
len(df1[df1['pickup_year'] == 2014])

29968

In [57]:
# How many rides were recorded in the first quarter of 2014?

df1['pickup_year'] = df1['pickup_datetime'].dt.year
df1['pickup_quarter'] = df1['pickup_datetime'].dt.quarter

len(df1[(df1['pickup_year'] == 2014) & (df1['pickup_quarter'] == 1)])

7687

In [58]:
# On which day of the week in September 2010, maximum rides were recorded 

df1['day_of_week'] = df1['pickup_datetime'].dt.day_name()
df1['month'] = df1['pickup_datetime'].dt.month
df1['year'] = df1['pickup_datetime'].dt.year
september_2010_rides = df1[(df1['month'] == 9) & (df1['year'] == 2010)]
september_2010_rides.groupby('day_of_week')['day_of_week'].count()

day_of_week
Friday       354
Monday       265
Saturday     362
Sunday       331
Thursday     457
Tuesday      322
Wednesday    391
Name: day_of_week, dtype: int64

In [59]:
# What is the mean 'fare_amount' for rides with 0 haversine distance?

# Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

costliest_ride = df1.sort_values(by='fare_amount', ascending=False).iloc[0]

# Retrieve the coordinates
pickup_lat = costliest_ride['pickup_latitude']
pickup_lon = costliest_ride['pickup_longitude']
dropoff_lat = costliest_ride['dropoff_latitude']
dropoff_lon = costliest_ride['dropoff_longitude']

# Calculate the Haversine distance
haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)

0.0007899213191009994

In [ ]:
## Machine Learning Problem

In [63]:
# Apply a Machine Learning Algorithm to predict the fare amount given following input features:
# passenger_count, distance and ride_week_day.

# Perform a 70-30 split of data.
# df1.head()

df1['ride_week_day'] = df1['pickup_datetime'].dt.dayofweek
df1['ride_week_day']

0         3
1         4
2         0
3         4
4         3
         ..
199995    6
199996    4
199997    0
199998    2
199999    5
Name: ride_week_day, Length: 199999, dtype: int32

In [65]:
df1.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_quarter,day_of_week,month,year,distance_km,distance,ride_week_day
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,2015,2,Thursday,5,2015,1.683323,1.683323,3
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2009,3,Friday,7,2009,2.457590,2.457590,4
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,2009,3,Monday,8,2009,5.036377,5.036377,0
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,2009,2,Friday,6,2009,1.661683,1.661683,4
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,2014,3,Thursday,8,2014,4.475450,4.475450,3

In [66]:
#a. Identify the Target Variable and Splitting the Data into Train and Test

X = df1[['passenger_count', 'distance_km', 'ride_week_day']]
y = df1['fare_amount']

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [68]:
# Perform a 70-30 split of data

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [71]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(139999, 3) (139999,)
(60000, 3) (60000,)

In [73]:
# Scaling the Numerical Features

# scaling the numeroical features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_num_rescaled = pd.DataFrame(scaler.fit_transform(X_train),
                                   columns = X_train.columns,
                                   index = X_train.index)

X_train_num_rescaled.head()

        passenger_count  distance_km  ride_week_day
194320        -0.483094    -0.051319      -0.025817
774            0.221215    -0.037987       1.001845
75676         -0.483094    -0.046786      -0.539647
37127         -0.483094    -0.050603       0.488014
96757          2.334142    -0.048147       1.515676

In [75]:
X_test_num_rescaled = pd.DataFrame(scaler.transform(X_test), 
                                   columns = X_test.columns, 
                                   index = X_test.index)

X_test_num_rescaled.head()

        passenger_count  distance_km  ride_week_day
134253        -0.483094    -0.049169      -0.539647
124141        -0.483094    -0.052124       1.515676
62810          2.334142    -0.045849       1.001845
65425         -0.483094    -0.047565       1.515676
30074         -0.483094    -0.052580      -1.567309

In [76]:
print('Number of Numerical Feature:', scaler.n_features_in_)
print('Mean of each column:', scaler.mean_)
print('std of each column:', np.sqrt(scaler.var_))

Number of Numerical Feature: 3
Mean of each column: [ 1.68591204 21.04075628  3.05024322]
std of each column: [  1.41983133 385.24612811   1.94616542]

In [78]:
# Linear Regression

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train_num_rescaled, y_train)

LinearRegression()

In [81]:
# Prediction

y_test_pred = regressor.predict(X_test_num_rescaled)

In [82]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

        Actual  Predicted
134253     6.5  11.272482
124141     4.1  11.376956
62810     12.0  11.649461
65425      7.5  11.378187
30074      4.1  11.218925

In [83]:
from sklearn import metrics

MeanAbsoluteError_LR = metrics.mean_absolute_error(y_test, y_test_pred)
MeanSquaredError_LR = metrics.mean_squared_error(y_test, y_test_pred)
RootMeanSquaredError_LR = np.sqrt(metrics.mean_squared_error(y_test, y_test_pred))
                                                
print('Mean Absolute Error: ', MeanAbsoluteError_LR)

print('Mean Squared Error: ', MeanSquaredError_LR)

print('Root Mean Squared Error: ', RootMeanSquaredError_LR)

Mean Absolute Error:  6.045032139239538
Mean Squared Error:  102.78719617109395
Root Mean Squared Error:  10.138402052152694

In [84]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_test_pred)

print("R-squared (R2) Score:", r2)

R-squared (R2) Score: 0.0004341139144697914

In [86]:
# Random Forest Regression

from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(X_train_num_rescaled, y_train)

RandomForestRegressor()

In [87]:
# Prediction

y_test_pred = regressor.predict(X_test_num_rescaled)

In [89]:
temp_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})

temp_df.head()

        Actual  Predicted
134253     6.5   8.795667
124141     4.1   5.677976
62810     12.0  11.906000
65425      7.5  11.247000
30074      4.1   4.218000

In [88]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_test_pred)

print("R-squared (R2) Score:", r2)

R-squared (R2) Score: 0.6254164012014876